@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input {
    position: absolute;
    width: 260px;
    height: 33px;
    outline: none;
    border: 1px solid #9bf;
    border-radius: 5px;
    background-color: #eff;
    padding: 12px;
    font-size: 15px;
    color: #444;
    top: 5vh;
    transform: translate(-50%, -50%);
}

table {
    color: #eff;
    width: 210px;
    font-size: 17px;
}

th {
    padding: 0.6vh;
    text-align: left;
    color: rgb(255, 153, 0);
}

td {
    width: 79px;
}